In [1]:
import http.client
import json
import pandas as pd
import requests
import os
import pickle
import time

C:\Users\Arda\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [ ]:
class api_management(http.client.HTTPSConnection):
    
    def __init__(self):
        
        http.client.HTTPSConnection.__init__(self,"v3.football.api-sports.io")


        self.headers = {
        'x-rapidapi-host': "v3.football.api-sports.io",
        'x-rapidapi-key': "*****************"
        }

    
    def quota_info(self):
        
        self.request("GET", "/status", headers=self.headers)
        res = self.getresponse()
        data = res.read()
        status=json.loads(data.decode("utf-8"))
        self.used=status["response"]["requests"]["current"]
        self.quota=status["response"]["requests"]["limit_day"]
        self.remains= self.quota-self.used
        print("used : {}, quota : {}, remains : {}".format(self.used,self.quota,self.remains))
        return self.remains

    
    def get_leagues(self):
    
        self.request("GET", "/leagues", headers=self.headers)
        res = self.getresponse()
        data = res.read()
        league_res=json.loads(data.decode("utf-8"))["response"]
        league_df=pd.json_normalize(league_res,record_path="seasons",meta=[["league","id"],["league","name"], ["country","name"],["league","type"] ])
        only_leagues= league_df[league_df["league.type"]=="League"][
        ["year","coverage.fixtures.events","coverage.fixtures.statistics_fixtures",
         "league.name","league.id","country.name"]]
        only_leagues["Coverage"]=  only_leagues[[
        "coverage.fixtures.events",
        "coverage.fixtures.statistics_fixtures"]].applymap(lambda x : 1 if x==True else 0).sum(axis=1)
        leagues_acc= only_leagues[only_leagues["Coverage"]==2]
        self.quota_info()
        return leagues_acc
    
    def get_fixtures(self,season,league):
   
        self.request("GET", "/fixtures?season={}&league={}".format(season,league), headers=self.headers)

        res = self.getresponse()
        data = res.read()
        fixture_res=json.loads(data.decode("utf-8"))["response"]
        self.quota_info()
        return fixture_res
    
    def  fix_stat(self,fixture):
        self.request("GET", "/fixtures/statistics?fixture={}".format(fixture), headers=self.headers)

        res = self.getresponse()
        data = res.read()
        stat_res=json.loads(data.decode("utf-8"))["response"]
        for k in range(len(stat_res)):
            stat_res[k]["statistics"]={i["type"]:i["value"] for i in stat_res[k]["statistics"]}
            stat_res[k]["fixture"]= {"id":fixture}
        
        return stat_res
    def fix_events(self,fixture):
        self.request("GET", "/fixtures/events?fixture={}".format(fixture), headers=self.headers)

        res = self.getresponse()
        data = res.read()
        event_res=json.loads(data.decode("utf-8"))["response"]
        for k in range(len(event_res)):
            event_res[k]["fixture"]= {"id":fixture}
        return event_res

## Data Download Flow

In [3]:
selected_leagues=[61, 144,  71,  39,  78, 135,  88,  94, 140,  62, 203, 197,  79,
       188, 218, 119,  40,  41,  42,  98,  72, 141, 136, 103,  89, 113,
       169, 207, 210, 235, 292, 307, 106, 265, 323, 475]

In [4]:
api= api_management()

In [5]:
api

In [24]:
data_dir="C:/Users/Arda/Downloads/Upwork/Portfolio/Betting_Asistant/data/"

In [25]:
#Leagues with sufficient features

leagues=api.get_leagues()
leagues.to_csv("{}leagues.csv".format(data_dir),index=False)

used : 6, quota : 7500, remains : 7494

C:\Users\Arda\AppData\Local\Temp\ipykernel_4220\981199331.py:39: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  "coverage.fixtures.statistics_fixtures"]].applymap(lambda x : 1 if x==True else 0).sum(axis=1)

In [26]:
#Because we download all data that we need, we can import league dataframe from our local pc.
leagues

,year,coverage.fixtures.events,coverage.fixtures.statistics_fixtures,league.name,league.id,country.name,Coverage
13,2015,True,True,Ligue 1,61,France,2
14,2016,True,True,Ligue 1,61,France,2
15,2017,True,True,Ligue 1,61,France,2
16,2018,True,True,Ligue 1,61,France,2
17,2019,True,True,Ligue 1,61,France,2
...,...,...,...,...,...,...,...
5980,2023,True,True,Canadian Premier League,479,Canada,2
5981,2024,True,True,Canadian Premier League,479,Canada,2
6036,2024,True,True,Damallsvenskan,549,Sweden,2
6970,2023,True,True,Copa de la Liga Profesional,1032,Argentina,2
6971,2024,True,True,Copa de la Liga Profesional,1032,Argentina,2

### Fixtures

In [27]:
#We will get fixtures for given league and season
#But we need to stay in allowed api call rate 450/60

In [28]:
#We will use rate of change in time/calls. Becouse we will observe given time change according to one api call
call_rate= 60/300
call_rate

0.2

In [29]:
os.listdir(data_dir)

['datamart.csv',
 'fixture_event_df.csv',
 'fixture_stat.csv',
 'leagues.csv',
 'saved_fixtures.csv']

In [30]:

try:
    
    saved_fixtures_df=pd.read_csv("{}saved_fixtures.csv".format(data_dir))
except:
    saved_fixtures_df=[]

C:\Users\Arda\AppData\Local\Temp\ipykernel_4220\3306976125.py:3: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  saved_fixtures_df=pd.read_csv("{}saved_fixtures.csv".format(data_dir))

In [31]:
saved_fixtures_df

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away,score.extratime.home,score.extratime.away,score.penalty.home,score.penalty.away,fixture.status.extra,league.standings
0,185545,"Fredy Fautrel, France",UTC,2015-08-07T18:30:00+00:00,1438972200,1.438972e+09,1.438976e+09,NaN,Stade Pierre Mauroy,Lille,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,185546,"Wilfried Bien, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Stade de la Beaujoire,Nantes,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,185547,"Hakim Ben el Salem Hadj, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,660.0,Stade de la Mosson,Montpellier,...,0.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,185548,"Lionel Jaffredo, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Allianz Rivera,Nice,...,1.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,185549,"Frank Schneider, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,667.0,Orange Velodrome,Marseille,...,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103985,1354223,Edina Alves Batista,UTC,2025-03-03T23:00:00+00:00,1741042800,1.741043e+09,1.741046e+09,20813.0,MorumBIS,"São Paulo, São Paulo",...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,7.0,True
103986,1357839,Matheus Delgado Candançan,UTC,2025-03-09T21:30:00+00:00,1741555800,1.741556e+09,1.741559e+09,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,1.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,9.0,True
103987,1358545,Flavio Rodrigues De Souza,UTC,2025-03-11T00:35:00+00:00,1741653300,1.741653e+09,1.741657e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,9.0,True
103988,1360313,NaN,UTC,2025-03-16T21:30:00+00:00,1742160600,NaN,NaN,258.0,Allianz Parque,"São Paulo, São Paulo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
103989,1360314,NaN,UTC,2025-03-28T00:35:00+00:00,1743122100,NaN,NaN,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [32]:
saved_fixtures_df=saved_fixtures_df[saved_fixtures_df["league.id"].isin(selected_leagues)]

In [33]:
saved_fixtures_df.columns

Index(['fixture.id', 'fixture.referee', 'fixture.timezone', 'fixture.date',
       'fixture.timestamp', 'fixture.periods.first', 'fixture.periods.second',
       'fixture.venue.id', 'fixture.venue.name', 'fixture.venue.city',
       'fixture.status.long', 'fixture.status.short', 'fixture.status.elapsed',
       'league.id', 'league.name', 'league.country', 'league.logo',
       'league.season', 'league.round', 'teams.home.id', 'teams.home.name',
       'teams.home.winner', 'teams.away.id', 'teams.away.name',
       'teams.away.winner', 'goals.home', 'goals.away', 'score.halftime.home',
       'score.halftime.away', 'score.fulltime.home', 'score.fulltime.away',
       'score.extratime.home', 'score.extratime.away', 'score.penalty.home',
       'score.penalty.away', 'fixture.status.extra', 'league.standings'],
      dtype='object')

In [34]:
#MAX season for each leagues
max_fixtures=saved_fixtures_df.groupby("league.id",as_index=False)["league.season"].max().rename({"league.season":"max_season"},axis=1)
max_fixtures

    league.id  max_season
0          39        2024
1          40        2024
2          41        2024
3          42        2024
4          61        2024
5          62        2024
6          71        2024
7          72        2024
8          78        2024
9          79        2024
10         88        2024
11         89        2024
12         94        2024
13         98        2025
14        103        2024
15        106        2024
16        113        2024
17        119        2024
18        135        2024
19        136        2024
20        140        2024
21        141        2024
22        144        2024
23        169        2025
24        188        2024
25        197        2024
26        203        2024
27        207        2024
28        210        2024
29        218        2024
30        235        2024
31        265        2025
32        292        2024
33        307        2024
34        323        2024
35        475        2025

In [35]:
last_seasons=leagues.merge(max_fixtures)
last_seasons_v1=last_seasons[last_seasons.max_season<=last_seasons["year"]].sort_values(["league.id","year"]).drop("max_season",axis=1)
last_seasons_v1

,year,coverage.fixtures.events,coverage.fixtures.statistics_fixtures,league.name,league.id,country.name,Coverage
40,2024,True,True,Premier League,39,England,2
174,2024,True,True,Championship,40,England,2
184,2024,True,True,League One,41,England,2
192,2024,True,True,League Two,42,England,2
9,2024,True,True,Ligue 1,61,France,2
102,2024,True,True,Ligue 2,62,France,2
29,2024,True,True,Serie A,71,Brazil,2
200,2024,True,True,Serie B,72,Brazil,2
50,2024,True,True,Bundesliga,78,Germany,2
132,2024,True,True,2. Bundesliga,79,Germany,2
70,2024,True,True,Eredivisie,88,Netherlands,2
244,2024,True,True,Eerste Divisie,89,Netherlands,2
80,2024,True,True,Primeira Liga,94,Portugal,2
211,2025,True,True,J1 League,98,Japan,2
238,2024,True,True,Eliteserien,103,Norway,2
308,2024,True,True,Ekstraklasa,106,Poland,2
253,2024,True,True,Allsvenskan,113,Sweden,2
163,2024,True,True,Superliga,119,Denmark,2
60,2024,True,True,Serie A,135,Italy,2
229,2024,True,True,Serie B,136,Italy,2
91,2024,True,True,La Liga,140,Spain,2
220,2024,True,True,Segunda División,141,Spain,2
19,2024,True,True,Jupiler Pro League,144,Belgium,2
263,2025,True,True,Super League,169,China,2
143,2024,True,True,A-League,188,Australia,2
121,2024,True,True,Super League 1,197,Greece,2
112,2024,True,True,Süper Lig,203,Turkey,2
272,2024,True,True,Super League,207,Switzerland,2
278,2024,True,True,HNL,210,Croatia,2
153,2024,True,True,Bundesliga,218,Austria,2
287,2024,True,True,Premier League,235,Russia,2
316,2025,True,True,Primera División,265,Chile,2
292,2024,True,True,K League 1,292,South-Korea,2
301,2024,True,True,Pro League,307,Saudi-Arabia,2
323,2024,True,True,Indian Super League,323,India,2
329,2025,True,True,Paulista - A1,475,Brazil,2

In [36]:
prior_saved_fixtures=saved_fixtures_df.merge(max_fixtures)
prior_saved_fixtures=prior_saved_fixtures[prior_saved_fixtures["league.season"]<prior_saved_fixtures.max_season]
prior_saved_fixtures

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,score.halftime.away,score.fulltime.home,score.fulltime.away,score.extratime.home,score.extratime.away,score.penalty.home,score.penalty.away,fixture.status.extra,league.standings,max_season
0,185545,"Fredy Fautrel, France",UTC,2015-08-07T18:30:00+00:00,1438972200,1.438972e+09,1.438976e+09,NaN,Stade Pierre Mauroy,Lille,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2024
1,185546,"Wilfried Bien, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Stade de la Beaujoire,Nantes,...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2024
2,185547,"Hakim Ben el Salem Hadj, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,660.0,Stade de la Mosson,Montpellier,...,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2024
3,185548,"Lionel Jaffredo, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Allianz Rivera,Nice,...,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2024
4,185549,"Frank Schneider, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,667.0,Orange Velodrome,Marseille,...,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93054,1181854,Raphael Claus,UTC,2024-03-17T23:15:00+00:00,1710717300,1.710717e+09,1.710721e+09,10494.0,Estádio Urbano Caldeira,"Santos, São Paulo",...,0.0,0.0,0.0,0.0,0.0,4.0,2.0,NaN,True,2025
93055,1186176,Matheus Delgado Candançan,UTC,2024-03-27T23:30:00+00:00,1711582200,1.711582e+09,1.711586e+09,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,0.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,True,2025
93056,1186175,Edina Alves Batista,UTC,2024-03-29T00:35:00+00:00,1711672500,1.711672e+09,1.711676e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,True,2025
93057,1190416,Flavio Rodrigues De Souza,UTC,2024-03-31T21:00:00+00:00,1711918800,1.711919e+09,1.711922e+09,10494.0,Estádio Urbano Caldeira,"Santos, São Paulo",...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,True,2025
93058,1190417,Raphael Claus,UTC,2024-04-07T21:00:00+00:00,1712523600,1.712524e+09,1.712527e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,True,2025

In [37]:
saved_fixtures_download=[]
quota=api.quota_info()-10

for i in range(last_seasons_v1.shape[0]):
    season=last_seasons_v1.iloc[i]["year"]
    league=last_seasons_v1.iloc[i]["league.id"]
    current=time.time()
    saved_fixtures_download=saved_fixtures_download+api.get_fixtures(season,league)
    diff=time.time()-current
    if diff < call_rate:
        time.sleep(0.2)
    print(quota,league,season,i)

used : 6, quota : 7500, remains : 7494
used : 6, quota : 7500, remains : 7494
7484 39 2024 0
used : 6, quota : 7500, remains : 7494
7484 40 2024 1
used : 6, quota : 7500, remains : 7494
7484 41 2024 2
used : 6, quota : 7500, remains : 7494
7484 42 2024 3
used : 6, quota : 7500, remains : 7494
7484 61 2024 4
used : 6, quota : 7500, remains : 7494
7484 62 2024 5
used : 6, quota : 7500, remains : 7494
7484 71 2024 6
used : 6, quota : 7500, remains : 7494
7484 72 2024 7
used : 6, quota : 7500, remains : 7494
7484 78 2024 8
used : 6, quota : 7500, remains : 7494
7484 79 2024 9
used : 6, quota : 7500, remains : 7494
7484 88 2024 10
used : 6, quota : 7500, remains : 7494
7484 89 2024 11
used : 6, quota : 7500, remains : 7494
7484 94 2024 12
used : 6, quota : 7500, remains : 7494
7484 98 2025 13
used : 6, quota : 7500, remains : 7494
7484 103 2024 14
used : 6, quota : 7500, remains : 7494
7484 106 2024 15
used : 6, quota : 7500, remains : 7494
7484 113 2024 16
used : 6, quota : 7500, remains : 7494
7484 119 2024 17
used : 6, quota : 7500, remains : 7494
7484 135 2024 18
used : 6, quota : 7500, remains : 7494
7484 136 2024 19
used : 6, quota : 7500, remains : 7494
7484 140 2024 20
used : 6, quota : 7500, remains : 7494
7484 141 2024 21
used : 6, quota : 7500, remains : 7494
7484 144 2024 22
used : 6, quota : 7500, remains : 7494
7484 169 2025 23
used : 6, quota : 7500, remains : 7494
7484 188 2024 24
used : 6, quota : 7500, remains : 7494
7484 197 2024 25
used : 6, quota : 7500, remains : 7494
7484 203 2024 26
used : 6, quota : 7500, remains : 7494
7484 207 2024 27
used : 6, quota : 7500, remains : 7494
7484 210 2024 28
used : 6, quota : 7500, remains : 7494
7484 218 2024 29
used : 6, quota : 7500, remains : 7494
7484 235 2024 30
used : 6, quota : 7500, remains : 7494
7484 265 2025 31
used : 6, quota : 7500, remains : 7494
7484 292 2024 32
used : 6, quota : 7500, remains : 7494
7484 307 2024 33
used : 6, quota : 7500, remains : 7494
7484 323 2024 34
used : 6, quota : 7500, remains : 7494
7484 475 2025 35

In [38]:
post_saved_fixtures=pd.json_normalize(saved_fixtures_download).drop(['teams.home.logo','teams.away.logo','league.flag'],axis=1)

In [39]:
prior_saved_fixtures

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,score.halftime.away,score.fulltime.home,score.fulltime.away,score.extratime.home,score.extratime.away,score.penalty.home,score.penalty.away,fixture.status.extra,league.standings,max_season
0,185545,"Fredy Fautrel, France",UTC,2015-08-07T18:30:00+00:00,1438972200,1.438972e+09,1.438976e+09,NaN,Stade Pierre Mauroy,Lille,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2024
1,185546,"Wilfried Bien, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Stade de la Beaujoire,Nantes,...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2024
2,185547,"Hakim Ben el Salem Hadj, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,660.0,Stade de la Mosson,Montpellier,...,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2024
3,185548,"Lionel Jaffredo, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Allianz Rivera,Nice,...,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2024
4,185549,"Frank Schneider, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,667.0,Orange Velodrome,Marseille,...,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93054,1181854,Raphael Claus,UTC,2024-03-17T23:15:00+00:00,1710717300,1.710717e+09,1.710721e+09,10494.0,Estádio Urbano Caldeira,"Santos, São Paulo",...,0.0,0.0,0.0,0.0,0.0,4.0,2.0,NaN,True,2025
93055,1186176,Matheus Delgado Candançan,UTC,2024-03-27T23:30:00+00:00,1711582200,1.711582e+09,1.711586e+09,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,0.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,True,2025
93056,1186175,Edina Alves Batista,UTC,2024-03-29T00:35:00+00:00,1711672500,1.711672e+09,1.711676e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,True,2025
93057,1190416,Flavio Rodrigues De Souza,UTC,2024-03-31T21:00:00+00:00,1711918800,1.711919e+09,1.711922e+09,10494.0,Estádio Urbano Caldeira,"Santos, São Paulo",...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,True,2025
93058,1190417,Raphael Claus,UTC,2024-04-07T21:00:00+00:00,1712523600,1.712524e+09,1.712527e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,True,2025

In [40]:
post_saved_fixtures

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,goals.home,goals.away,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away,score.extratime.home,score.extratime.away,score.penalty.home,score.penalty.away
0,1208021,R. Jones,UTC,2024-08-16T19:00:00+00:00,1723834800,1.723835e+09,1.723838e+09,556.0,Old Trafford,Manchester,...,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,None,None
1,1208022,T. Robinson,UTC,2024-08-17T11:30:00+00:00,1723894200,1.723894e+09,1.723898e+09,545.0,Portman Road,"Ipswich, Suffolk",...,0.0,2.0,0.0,0.0,0.0,2.0,NaN,NaN,None,None
2,1208025,C. Pawson,UTC,2024-08-17T14:00:00+00:00,1723903200,1.723903e+09,1.723907e+09,562.0,St. James' Park,Newcastle upon Tyne,...,1.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,None,None
3,1208023,J. Gillett,UTC,2024-08-17T14:00:00+00:00,1723903200,1.723903e+09,1.723907e+09,494.0,Emirates Stadium,London,...,2.0,0.0,1.0,0.0,2.0,0.0,NaN,NaN,None,None
4,1208024,S. Hooper,UTC,2024-08-17T14:00:00+00:00,1723903200,1.723903e+09,1.723907e+09,8560.0,Goodison Park,Liverpool,...,0.0,3.0,0.0,1.0,0.0,3.0,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11120,1354223,Edina Alves Batista,UTC,2025-03-03T23:00:00+00:00,1741042800,1.741043e+09,1.741046e+09,20813.0,MorumBIS,"São Paulo, São Paulo",...,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,None,None
11121,1357839,Matheus Delgado Candançan,UTC,2025-03-09T21:30:00+00:00,1741555800,1.741556e+09,1.741559e+09,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,2.0,1.0,1.0,1.0,2.0,1.0,NaN,NaN,None,None
11122,1358545,Flavio Rodrigues De Souza,UTC,2025-03-11T00:35:00+00:00,1741653300,1.741653e+09,1.741657e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,1.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,None,None
11123,1360313,Raphael Claus,UTC,2025-03-16T21:30:00+00:00,1742160600,1.742161e+09,1.742164e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,None,None
11124,1360314,None,UTC,2025-03-28T00:35:00+00:00,1743122100,NaN,NaN,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

In [41]:
saved_fixtures_df= pd.concat([prior_saved_fixtures,post_saved_fixtures]).drop("max_season",axis=1)
saved_fixtures_df

C:\Users\Arda\AppData\Local\Temp\ipykernel_4220\1537821446.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  saved_fixtures_df= pd.concat([prior_saved_fixtures,post_saved_fixtures]).drop("max_season",axis=1)

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away,score.extratime.home,score.extratime.away,score.penalty.home,score.penalty.away,fixture.status.extra,league.standings
0,185545,"Fredy Fautrel, France",UTC,2015-08-07T18:30:00+00:00,1438972200,1.438972e+09,1.438976e+09,NaN,Stade Pierre Mauroy,Lille,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,185546,"Wilfried Bien, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Stade de la Beaujoire,Nantes,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,185547,"Hakim Ben el Salem Hadj, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,660.0,Stade de la Mosson,Montpellier,...,0.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,185548,"Lionel Jaffredo, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Allianz Rivera,Nice,...,1.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,185549,"Frank Schneider, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,667.0,Orange Velodrome,Marseille,...,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11120,1354223,Edina Alves Batista,UTC,2025-03-03T23:00:00+00:00,1741042800,1.741043e+09,1.741046e+09,20813.0,MorumBIS,"São Paulo, São Paulo",...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,7.0,True
11121,1357839,Matheus Delgado Candançan,UTC,2025-03-09T21:30:00+00:00,1741555800,1.741556e+09,1.741559e+09,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,1.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,9.0,True
11122,1358545,Flavio Rodrigues De Souza,UTC,2025-03-11T00:35:00+00:00,1741653300,1.741653e+09,1.741657e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,9.0,True
11123,1360313,Raphael Claus,UTC,2025-03-16T21:30:00+00:00,1742160600,1.742161e+09,1.742164e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,7.0,True
11124,1360314,None,UTC,2025-03-28T00:35:00+00:00,1743122100,NaN,NaN,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [42]:
#We covert json format to dataframe and save it   

saved_fixtures_df.to_csv("{}saved_fixtures.csv".format(data_dir),index=False)

## Fixture Stats

In [43]:
#In this section we will download given fixture stats.
#There is two limits: Api Calls Per minute(450/min) and Api Calls Quota for a day(75000)

In [44]:
saved_fixtures_df

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away,score.extratime.home,score.extratime.away,score.penalty.home,score.penalty.away,fixture.status.extra,league.standings
0,185545,"Fredy Fautrel, France",UTC,2015-08-07T18:30:00+00:00,1438972200,1.438972e+09,1.438976e+09,NaN,Stade Pierre Mauroy,Lille,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,185546,"Wilfried Bien, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Stade de la Beaujoire,Nantes,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,185547,"Hakim Ben el Salem Hadj, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,660.0,Stade de la Mosson,Montpellier,...,0.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,185548,"Lionel Jaffredo, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Allianz Rivera,Nice,...,1.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,185549,"Frank Schneider, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,667.0,Orange Velodrome,Marseille,...,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11120,1354223,Edina Alves Batista,UTC,2025-03-03T23:00:00+00:00,1741042800,1.741043e+09,1.741046e+09,20813.0,MorumBIS,"São Paulo, São Paulo",...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,7.0,True
11121,1357839,Matheus Delgado Candançan,UTC,2025-03-09T21:30:00+00:00,1741555800,1.741556e+09,1.741559e+09,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,1.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,9.0,True
11122,1358545,Flavio Rodrigues De Souza,UTC,2025-03-11T00:35:00+00:00,1741653300,1.741653e+09,1.741657e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,9.0,True
11123,1360313,Raphael Claus,UTC,2025-03-16T21:30:00+00:00,1742160600,1.742161e+09,1.742164e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,7.0,True
11124,1360314,None,UTC,2025-03-28T00:35:00+00:00,1743122100,NaN,NaN,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [45]:
saved_fixtures_df.columns

Index(['fixture.id', 'fixture.referee', 'fixture.timezone', 'fixture.date',
       'fixture.timestamp', 'fixture.periods.first', 'fixture.periods.second',
       'fixture.venue.id', 'fixture.venue.name', 'fixture.venue.city',
       'fixture.status.long', 'fixture.status.short', 'fixture.status.elapsed',
       'league.id', 'league.name', 'league.country', 'league.logo',
       'league.season', 'league.round', 'teams.home.id', 'teams.home.name',
       'teams.home.winner', 'teams.away.id', 'teams.away.name',
       'teams.away.winner', 'goals.home', 'goals.away', 'score.halftime.home',
       'score.halftime.away', 'score.fulltime.home', 'score.fulltime.away',
       'score.extratime.home', 'score.extratime.away', 'score.penalty.home',
       'score.penalty.away', 'fixture.status.extra', 'league.standings'],
      dtype='object')

In [46]:
saved_fixtures_df["fixture.status.long"].unique()

array(['Match Finished', 'Match Cancelled', 'Match Postponed',
       'Technical loss', 'Not Started', 'Match Abandoned',
       'Time to be defined'], dtype=object)

In [47]:
finished_matches=['Match Finished', 'Technical loss' ]
finished_matches

['Match Finished', 'Technical loss']

In [48]:
relevant_saved_fixtures=saved_fixtures_df[(saved_fixtures_df["fixture.status.long"].isin(finished_matches))
                                         & (saved_fixtures_df["league.season"]>=2022)]
relevant_saved_fixtures

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away,score.extratime.home,score.extratime.away,score.penalty.home,score.penalty.away,fixture.status.extra,league.standings
2664,871470,F. Letexier,UTC,2022-08-06T15:00:00+00:00,1659798000,1.659798e+09,1.659802e+09,681.0,Stade de la Meinau,Strasbourg,...,0.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2665,871471,B. Dechepy,UTC,2022-08-07T15:05:00+00:00,1659884700,1.659885e+09,1.659888e+09,680.0,Roazhon Park,Rennes,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2666,871472,J. Stinat,UTC,2022-08-06T19:00:00+00:00,1659812400,1.659812e+09,1.659816e+09,644.0,Stade Gabriel Montpied,Clermont-Ferrand,...,0.0,3.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
2667,871473,J. Hamel,UTC,2022-08-07T11:00:00+00:00,1659870000,1.659870e+09,1.659874e+09,682.0,Stadium de Toulouse,Toulouse,...,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2668,871474,B. Bastien,UTC,2022-08-05T19:00:00+00:00,1659726000,1.659726e+09,1.659730e+09,666.0,Groupama Stadium,Décines-Charpieu,...,2.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11119,1354224,Raphael Claus,UTC,2025-03-02T23:45:00+00:00,1740959100,1.740959e+09,1.740963e+09,10494.0,Estádio Urbano Caldeira,"Santos, São Paulo",...,1.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,6.0,True
11120,1354223,Edina Alves Batista,UTC,2025-03-03T23:00:00+00:00,1741042800,1.741043e+09,1.741046e+09,20813.0,MorumBIS,"São Paulo, São Paulo",...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,7.0,True
11121,1357839,Matheus Delgado Candançan,UTC,2025-03-09T21:30:00+00:00,1741555800,1.741556e+09,1.741559e+09,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,1.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,9.0,True
11122,1358545,Flavio Rodrigues De Souza,UTC,2025-03-11T00:35:00+00:00,1741653300,1.741653e+09,1.741657e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,9.0,True
11123,1360313,Raphael Claus,UTC,2025-03-16T21:30:00+00:00,1742160600,1.742161e+09,1.742164e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,7.0,True

In [49]:
call_rate=60/300

In [51]:
quota=api.quota_info()-10

used : 43, quota : 7500, remains : 7457

In [52]:
try:
    
    fixture_stat=pd.read_csv("{}fixture_stat.csv".format(data_dir))
    
except:
    
    fixture_stat=[]

In [53]:
full_stats=fixture_stat
full_stats

,team.id,team.name,team.logo,statistics.Shots on Goal,statistics.Shots off Goal,statistics.Total Shots,statistics.Blocked Shots,statistics.Shots insidebox,statistics.Shots outsidebox,statistics.Fouls,...,statistics.Assists,statistics.Counter Attacks,statistics.Cross Attacks,statistics.Free Kicks,statistics.Goals,statistics.Goal Attempts,statistics.Substitutions,statistics.Throwins,statistics.Medical Treatment,statistics.goals_prevented
0,79,Lille,https://media-2.api-sports.io/football/teams/7...,2.0,4.0,12.0,6.0,4.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85,Paris Saint Germain,https://media-1.api-sports.io/football/teams/8...,3.0,2.0,7.0,2.0,6.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,83,Nantes,https://media-1.api-sports.io/football/teams/8...,4.0,2.0,9.0,3.0,4.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90,Guingamp,https://media-2.api-sports.io/football/teams/9...,4.0,4.0,10.0,2.0,5.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,82,Montpellier,https://media-2.api-sports.io/football/teams/8...,4.0,7.0,11.0,NaN,9.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164916,2323,Universidad de Chile,https://media.api-sports.io/football/teams/232...,3.0,10.0,18.0,5.0,11.0,7.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164917,131,Corinthians,https://media.api-sports.io/football/teams/131...,4.0,5.0,10.0,1.0,6.0,4.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164918,128,Santos,https://media.api-sports.io/football/teams/128...,2.0,6.0,14.0,6.0,6.0,8.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164919,121,Palmeiras,https://media.api-sports.io/football/teams/121...,8.0,3.0,14.0,3.0,5.0,9.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164920,126,Sao Paulo,https://media.api-sports.io/football/teams/126...,1.0,4.0,6.0,1.0,5.0,1.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
downloaded_stat_fixs=list(full_stats["fixture.id"].unique())

In [55]:
downloaded_stat_fixs=list(full_stats["fixture.id"].unique()) 
not_downloaded_stat_fixs=list(relevant_saved_fixtures["fixture.id"][relevant_saved_fixtures["fixture.id"].isin(downloaded_stat_fixs)==False].sort_values().unique())
len(not_downloaded_stat_fixs)

2665

In [56]:
quota=api.quota_info()-10

fixture_json=[]

iterasyon=0
for i in not_downloaded_stat_fixs:
    
    if iterasyon<quota:
        
        
        current=time.time()
        fixture_json=fixture_json+api.fix_stat(i)
        diff=time.time()-current
        
        if diff > call_rate:
            time.sleep(0.2)

        
    print(iterasyon)   
    iterasyon+=1
post_fixture_stat_df= pd.json_normalize(fixture_json)

used : 43, quota : 7500, remains : 7457
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664

In [57]:
fixture_stat_df=pd.concat([full_stats,post_fixture_stat_df])

fixture_stat_df

,team.id,team.name,team.logo,statistics.Shots on Goal,statistics.Shots off Goal,statistics.Total Shots,statistics.Blocked Shots,statistics.Shots insidebox,statistics.Shots outsidebox,statistics.Fouls,...,statistics.Assists,statistics.Counter Attacks,statistics.Cross Attacks,statistics.Free Kicks,statistics.Goals,statistics.Goal Attempts,statistics.Substitutions,statistics.Throwins,statistics.Medical Treatment,statistics.goals_prevented
0,79,Lille,https://media-2.api-sports.io/football/teams/7...,2.0,4.0,12.0,6.0,4.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85,Paris Saint Germain,https://media-1.api-sports.io/football/teams/8...,3.0,2.0,7.0,2.0,6.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,83,Nantes,https://media-1.api-sports.io/football/teams/8...,4.0,2.0,9.0,3.0,4.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90,Guingamp,https://media-2.api-sports.io/football/teams/9...,4.0,4.0,10.0,2.0,5.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,82,Montpellier,https://media-2.api-sports.io/football/teams/8...,4.0,7.0,11.0,NaN,9.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987,2320,O'Higgins,https://media.api-sports.io/football/teams/232...,5.0,8.0,21.0,8.0,9.0,12.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,2318,Palestino,https://media.api-sports.io/football/teams/231...,7.0,6.0,15.0,2.0,9.0,6.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,2337,Nublense,https://media.api-sports.io/football/teams/233...,3.0,5.0,10.0,2.0,5.0,5.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,121,Palmeiras,https://media.api-sports.io/football/teams/121...,8.0,8.0,22.0,6.0,14.0,8.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,131,Corinthians,https://media.api-sports.io/football/teams/131...,1.0,2.0,3.0,0.0,1.0,2.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
fixture_stat_df.to_csv("{}fixture_stat.csv".format(data_dir),index=False)

In [59]:
fixture_stat_df.columns

Index(['team.id', 'team.name', 'team.logo', 'statistics.Shots on Goal',
       'statistics.Shots off Goal', 'statistics.Total Shots',
       'statistics.Blocked Shots', 'statistics.Shots insidebox',
       'statistics.Shots outsidebox', 'statistics.Fouls',
       'statistics.Corner Kicks', 'statistics.Offsides',
       'statistics.Ball Possession', 'statistics.Yellow Cards',
       'statistics.Red Cards', 'statistics.Goalkeeper Saves',
       'statistics.Total passes', 'statistics.Passes accurate',
       'statistics.Passes %', 'fixture.id', 'statistics.expected_goals',
       'statistics.Assists', 'statistics.Counter Attacks',
       'statistics.Cross Attacks', 'statistics.Free Kicks', 'statistics.Goals',
       'statistics.Goal Attempts', 'statistics.Substitutions',
       'statistics.Throwins', 'statistics.Medical Treatment',
       'statistics.goals_prevented'],
      dtype='object')

In [60]:
downloaded=list(fixture_stat_df["fixture.id"].unique())
len(downloaded)

83462

In [61]:
check=saved_fixtures_df[(saved_fixtures_df["fixture.id"].isin(downloaded)) & 
                       (saved_fixtures_df["fixture.status.long"]=='Match Finished')]
check

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away,score.extratime.home,score.extratime.away,score.penalty.home,score.penalty.away,fixture.status.extra,league.standings
0,185545,"Fredy Fautrel, France",UTC,2015-08-07T18:30:00+00:00,1438972200,1.438972e+09,1.438976e+09,NaN,Stade Pierre Mauroy,Lille,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,185546,"Wilfried Bien, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Stade de la Beaujoire,Nantes,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,185547,"Hakim Ben el Salem Hadj, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,660.0,Stade de la Mosson,Montpellier,...,0.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,185548,"Lionel Jaffredo, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Allianz Rivera,Nice,...,1.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,185549,"Frank Schneider, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,667.0,Orange Velodrome,Marseille,...,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11119,1354224,Raphael Claus,UTC,2025-03-02T23:45:00+00:00,1740959100,1.740959e+09,1.740963e+09,10494.0,Estádio Urbano Caldeira,"Santos, São Paulo",...,1.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,6.0,True
11120,1354223,Edina Alves Batista,UTC,2025-03-03T23:00:00+00:00,1741042800,1.741043e+09,1.741046e+09,20813.0,MorumBIS,"São Paulo, São Paulo",...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,7.0,True
11121,1357839,Matheus Delgado Candançan,UTC,2025-03-09T21:30:00+00:00,1741555800,1.741556e+09,1.741559e+09,11531.0,Neo Química Arena,"São Paulo, São Paulo",...,1.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,9.0,True
11122,1358545,Flavio Rodrigues De Souza,UTC,2025-03-11T00:35:00+00:00,1741653300,1.741653e+09,1.741657e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,9.0,True
11123,1360313,Raphael Claus,UTC,2025-03-16T21:30:00+00:00,1742160600,1.742161e+09,1.742164e+09,258.0,Allianz Parque,"São Paulo, São Paulo",...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,7.0,True

In [62]:
check.columns

Index(['fixture.id', 'fixture.referee', 'fixture.timezone', 'fixture.date',
       'fixture.timestamp', 'fixture.periods.first', 'fixture.periods.second',
       'fixture.venue.id', 'fixture.venue.name', 'fixture.venue.city',
       'fixture.status.long', 'fixture.status.short', 'fixture.status.elapsed',
       'league.id', 'league.name', 'league.country', 'league.logo',
       'league.season', 'league.round', 'teams.home.id', 'teams.home.name',
       'teams.home.winner', 'teams.away.id', 'teams.away.name',
       'teams.away.winner', 'goals.home', 'goals.away', 'score.halftime.home',
       'score.halftime.away', 'score.fulltime.home', 'score.fulltime.away',
       'score.extratime.home', 'score.extratime.away', 'score.penalty.home',
       'score.penalty.away', 'fixture.status.extra', 'league.standings'],
      dtype='object')

In [63]:
stat_groups=check.groupby(["league.season",'league.id', 'league.name','league.country'],as_index=False)["fixture.id"].count()
stat_groups.sort_values("league.season")

     league.season  league.id       league.name league.country  fixture.id
0             2014         39    Premier League        England           3
1             2014        188          A-League      Australia           4
13            2015        218        Bundesliga        Austria         165
11            2015        188          A-League      Australia         140
10            2015        140           La Liga          Spain         379
..             ...        ...               ...            ...         ...
262           2024         72           Serie B         Brazil         380
293           2025        265  Primera División          Chile          38
291           2025         98         J1 League          Japan          58
292           2025        169      Super League          China          16
294           2025        475     Paulista - A1         Brazil         103

[295 rows x 5 columns]

In [64]:
stat_groups[stat_groups["league.season"]==2022]

     league.season  league.id          league.name league.country  fixture.id
183           2022         39       Premier League        England         380
184           2022         40         Championship        England         557
185           2022         41           League One        England         557
186           2022         42           League Two        England         557
187           2022         61              Ligue 1         France         380
188           2022         62              Ligue 2         France         379
189           2022         71              Serie A         Brazil         380
190           2022         72              Serie B         Brazil         380
191           2022         78           Bundesliga        Germany         308
192           2022         79        2. Bundesliga        Germany         308
193           2022         88           Eredivisie    Netherlands         324
194           2022         89       Eerste Divisie    Netherlands         380
195           2022         94        Primeira Liga       Portugal         308
196           2022         98            J1 League          Japan         306
197           2022        103          Eliteserien         Norway         242
198           2022        106          Ekstraklasa         Poland         306
199           2022        113          Allsvenskan         Sweden         242
200           2022        119            Superliga        Denmark         193
201           2022        135              Serie A          Italy         381
202           2022        136              Serie B          Italy         390
203           2022        140              La Liga          Spain         380
204           2022        141     Segunda División          Spain         468
205           2022        144   Jupiler Pro League        Belgium         329
206           2022        169         Super League          China         295
207           2022        188             A-League      Australia         163
208           2022        197       Super League 1         Greece         240
209           2022        203            Süper Lig         Turkey         313
210           2022        207         Super League    Switzerland         179
211           2022        210                  HNL        Croatia         180
212           2022        218           Bundesliga        Austria         195
213           2022        235       Premier League         Russia         244
214           2022        265     Primera División          Chile         238
215           2022        292           K League 1    South-Korea         232
216           2022        307           Pro League   Saudi-Arabia         240
217           2022        323  Indian Super League          India         117
218           2022        475        Paulista - A1         Brazil         102

In [65]:
all_groups=saved_fixtures_df[(saved_fixtures_df["fixture.status.long"]=='Match Finished')].groupby(["league.season",'league.id', 'league.name','league.country'],as_index=False)["fixture.id"].count()
all_groups

     league.season  league.id       league.name league.country  fixture.id
0             2014         39    Premier League        England         380
1             2014         40      Championship        England         557
2             2014         62           Ligue 2         France         380
3             2014         79     2. Bundesliga        Germany         306
4             2014        140           La Liga          Spain         380
..             ...        ...               ...            ...         ...
325           2024        475     Paulista - A1         Brazil         104
326           2025         98         J1 League          Japan          58
327           2025        169      Super League          China          16
328           2025        265  Primera División          Chile          38
329           2025        475     Paulista - A1         Brazil         103

[330 rows x 5 columns]

In [66]:
stat_groups[stat_groups["league.season"]==2023]

     league.season  league.id          league.name league.country  fixture.id
219           2023         39       Premier League        England         380
220           2023         40         Championship        England         554
221           2023         41           League One        England         556
222           2023         42           League Two        England         557
223           2023         61              Ligue 1         France         308
224           2023         62              Ligue 2         France         378
225           2023         71              Serie A         Brazil         380
226           2023         72              Serie B         Brazil         380
227           2023         78           Bundesliga        Germany         281
228           2023         79        2. Bundesliga        Germany         307
229           2023         88           Eredivisie    Netherlands         249
230           2023         89       Eerste Divisie    Netherlands         379
231           2023         94        Primeira Liga       Portugal         235
232           2023         98            J1 League          Japan         306
233           2023        103          Eliteserien         Norway         242
234           2023        106          Ekstraklasa         Poland         301
235           2023        113          Allsvenskan         Sweden         242
236           2023        119            Superliga        Denmark         193
237           2023        135              Serie A          Italy         289
238           2023        136              Serie B          Italy         318
239           2023        140              La Liga          Spain         380
240           2023        141     Segunda División          Spain         465
241           2023        144   Jupiler Pro League        Belgium         311
242           2023        169         Super League          China         240
243           2023        188             A-League      Australia         169
244           2023        197       Super League 1         Greece         239
245           2023        203            Süper Lig         Turkey         306
246           2023        207         Super League    Switzerland         229
247           2023        210                  HNL        Croatia         178
248           2023        218           Bundesliga        Austria         195
249           2023        235       Premier League         Russia         244
250           2023        265     Primera División          Chile         240
251           2023        292           K League 1    South-Korea         232
252           2023        307           Pro League   Saudi-Arabia         216
253           2023        323  Indian Super League          India         139
254           2023        475        Paulista - A1         Brazil         109

In [67]:
all_groups[all_groups["league.season"]==2023]

     league.season  league.id          league.name league.country  fixture.id
254           2023         39       Premier League        England         380
255           2023         40         Championship        England         557
256           2023         41           League One        England         557
257           2023         42           League Two        England         557
258           2023         61              Ligue 1         France         308
259           2023         62              Ligue 2         France         382
260           2023         71              Serie A         Brazil         380
261           2023         72              Serie B         Brazil         380
262           2023         78           Bundesliga        Germany         308
263           2023         79        2. Bundesliga        Germany         308
264           2023         88           Eredivisie    Netherlands         321
265           2023         89       Eerste Divisie    Netherlands         380
266           2023         94        Primeira Liga       Portugal         308
267           2023         98            J1 League          Japan         306
268           2023        103          Eliteserien         Norway         242
269           2023        106          Ekstraklasa         Poland         306
270           2023        113          Allsvenskan         Sweden         242
271           2023        119            Superliga        Denmark         193
272           2023        135              Serie A          Italy         380
273           2023        136              Serie B          Italy         390
274           2023        140              La Liga          Spain         380
275           2023        141     Segunda División          Spain         468
276           2023        144   Jupiler Pro League        Belgium         315
277           2023        169         Super League          China         240
278           2023        188             A-League      Australia         169
279           2023        197       Super League 1         Greece         240
280           2023        203            Süper Lig         Turkey         380
281           2023        207         Super League    Switzerland         230
282           2023        210                  HNL        Croatia         180
283           2023        218           Bundesliga        Austria         195
284           2023        235       Premier League         Russia         244
285           2023        265     Primera División          Chile         240
286           2023        292           K League 1    South-Korea         232
287           2023        307           Pro League   Saudi-Arabia         306
288           2023        323  Indian Super League          India         139
289           2023        475        Paulista - A1         Brazil         109

In [68]:
try:
    
    fixture_event=pd.read_csv("{}fixture_event_df.csv".format(data_dir))
    
except:
    
    fixture_event=[]

In [69]:
prior_fixture_event=fixture_event

In [70]:
downloaded_stat_events=list(prior_fixture_event["fixture.id"].unique()) 
not_downloaded_stat_events=list(relevant_saved_fixtures["fixture.id"][relevant_saved_fixtures["fixture.id"].isin(downloaded_stat_events)==False].sort_values().unique())
len(not_downloaded_stat_events)

336

In [71]:

quota=api.quota_info()-10

iterasyon=0
post_event_json=[]

for i in not_downloaded_stat_events:
    
    if iterasyon<quota:
        
        
        current=time.time()
        post_event_json=post_event_json+api.fix_events(i)
        diff=time.time()-current
        
        if diff < call_rate:
            time.sleep(0.2)
        
        

    print(iterasyon,i)   
    iterasyon+=1
post_fixture_event_df= pd.json_normalize(post_event_json).drop("team.logo",axis=1)

used : 840, quota : 7500, remains : 6660
0 828579
1 884549
2 884555
3 884560
4 884563
5 884568
6 884573
7 884577
8 884580
9 884586
10 884591
11 884593
12 884599
13 884609
14 884610
15 884614
16 884623
17 884627
18 884629
19 884634
20 884641
21 884645
22 884653
23 884654
24 884656
25 884659
26 884669
27 884672
28 884675
29 884677
30 927042
31 927044
32 927045
33 927047
34 927053
35 927059
36 1186236
37 1202772
38 1202773
39 1202774
40 1202776
41 1203166
42 1203167
43 1203168
44 1203170
45 1203172
46 1203173
47 1203174
48 1205550
49 1205551
50 1205552
51 1205553
52 1205554
53 1205555
54 1208303
55 1208304
56 1208306
57 1208307
58 1208308
59 1208309
60 1208310
61 1208312
62 1208730
63 1208731
64 1208732
65 1208733
66 1208734
67 1208735
68 1208736
69 1208737
70 1208738
71 1208739
72 1208740
73 1208741
74 1208742
75 1208743
76 1208744
77 1208745
78 1210116
79 1210117
80 1210118
81 1210119
82 1210120
83 1210121
84 1210122
85 1210123
86 1210124
87 1210125
88 1210126
89 1210127
90 1210128
91 1210129
92 1210130
93 1210131
94 1210132
95 1210133
96 1210134
97 1210135
98 1210136
99 1210137
100 1210138
101 1210139
102 1210140
103 1210141
104 1210142
105 1210143
106 1210144
107 1210145
108 1212663
109 1212664
110 1212665
111 1212666
112 1212667
113 1212668
114 1212669
115 1212670
116 1212671
117 1212672
118 1212673
119 1212674
120 1212675
121 1212676
122 1212677
123 1212678
124 1212679
125 1212680
126 1212936
127 1212937
128 1213113
129 1213114
130 1213115
131 1213116
132 1213117
133 1213118
134 1213119
135 1213120
136 1213121
137 1213122
138 1213123
139 1213124
140 1213125
141 1213126
142 1213127
143 1213128
144 1213425
145 1213426
146 1213427
147 1213428
148 1213429
149 1213430
150 1213431
151 1213432
152 1213433
153 1213434
154 1213435
155 1213436
156 1213437
157 1213438
158 1213439
159 1213440
160 1213658
161 1213660
162 1213661
163 1213662
164 1213663
165 1213664
166 1213665
167 1213666
168 1213667
169 1213668
170 1213669
171 1213670
172 1213671
173 1213672
174 1213673
175 1213674
176 1213963
177 1213964
178 1213965
179 1213966
180 1213972
181 1213975
182 1213976
183 1213977
184 1213978
185 1213979
186 1213980
187 1216287
188 1216289
189 1216290
190 1216291
191 1216292
192 1216293
193 1216294
194 1216295
195 1216296
196 1216297
197 1216298
198 1216704
199 1216827
200 1216828
201 1216829
202 1216830
203 1216831
204 1216832
205 1216833
206 1216834
207 1216835
208 1216836
209 1216837
210 1216838
211 1216839
212 1216842
213 1216844
214 1216846
215 1216847
216 1216850
217 1217379
218 1217380
219 1217382
220 1217383
221 1217384
222 1217385
223 1217386
224 1217387
225 1217388
226 1217389
227 1217390
228 1217391
229 1217392
230 1217393
231 1217394
232 1217395
233 1217396
234 1217397
235 1217398
236 1217399
237 1217400
238 1217402
239 1217829
240 1217830
241 1217831
242 1217832
243 1217833
244 1217834
245 1217835
246 1217836
247 1217837
248 1217838
249 1217841
250 1217842
251 1217843
252 1217845
253 1217850
254 1218700
255 1218701
256 1218702
257 1218703
258 1218704
259 1218705
260 1223875
261 1223876
262 1223877
263 1223879
264 1223880
265 1223881
266 1223882
267 1223883
268 1223884
269 1224200
270 1224201
271 1224202
272 1224203
273 1224204
274 1224205
275 1224206
276 1224207
277 1226390
278 1226391
279 1226392
280 1226393
281 1226395
282 1226396
283 1226398
284 1231954
285 1231955
286 1231956
287 1231957
288 1231958
289 1231959
290 1231960
291 1231961
292 1231962
293 1234920
294 1234921
295 1234922
296 1234923
297 1234924
298 1234925
299 1234927
300 1234928
301 1234929
302 1238092
303 1238093
304 1238094
305 1238095
306 1238097
307 1238098
308 1238099
309 1238100
310 1252636
311 1252642
312 1252643
313 1280797
314 1280798
315 1280799
316 1280800
317 1280801
318 1324002
319 1324005
320 1324007
321 1324008
322 1324009
323 1324010
324 1327716
325 1327717
326 1327718
327 1327719
328 1327720
329 1327721
330 1339039
331 1339040
332 1339042
333 1339043
334 1339044
335 1360313

In [72]:
fixture_event_df=pd.concat([prior_fixture_event,post_fixture_event_df])

In [73]:

fixture_event_df.to_csv("{}fixture_event_df.csv".format(data_dir),index=False)